:root {
  --white: #f5f5f5;
  --black: #383a42;
  --grey: #383a42bb;
  --red: #e45649;
  --blue: #0184bc;
  --purple: #B4009E;
  --green: #50A14F;
}

body {
  margin: 0 auto;
  width: 75%;
  max-width: z;
  font-family: "Fira Code", sans-serif;
  color: var(--black);
  background-color: var(--white);
}

/* Header */

header {
  margin: 50px 0;
  position: relative;
  font-size: 50px;
  display: flex;
  font-weight: bolder;
  border-bottom: thin solid var(--grey);
}

.title {
  flex-grow: 1;
}

.description {
  color: var(--grey);
}

nav {
  padding: 0 20px;
  width: min-content;
  overflow-y: auto;
  overflow-x: hidden;
  display:flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a {
  font-style: normal;
  text-decoration: none;
  display: block;
}

nav img {
  width: 50px;
  vertical-align: middle;
}

a,
a:visited {
  color: var(--black);
  text-decoration: underline;
  text-decoration-color: var(--blue);
}

a:hover {
  color: var(--blue);
  cursor: pointer
}

/* Main Body */

main {
  font-size: 30px;
}

del {
  text-decoration: line-through;
  text-decoration-thickness: 5px;
  text-decoration-color: var(--red);
}

ins {
  font-style: italic;
  text-decoration-thickness: 5px;
  color: var(--blue);
}

main li {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

main .description {
  text-indent: 1.5em;
}

/* Adjustment */


@media screen and (max-width: 1250px) {
  header {
    font-size: 30px;
    margin: 30px 0;
  }

  nav img {
    width: 30px;
  }

  main {
    font-size: 15px;
  }

  del {
    text-decoration-thickness: 2px;
  }
  
  ins {
    text-decoration-thickness: 2px;
  }
}

@media screen and (max-width: 775px) {
  body {
    width: 90%;
  }
  
  header {
    font-size: 20px;
    margin: 20px 0;
  }

  nav img {
    width: 20px;
  }

  header .description {
    font-size: 15px;
  }

  main {
    font-size: 15px;
  }
}